# Папка со скачанными библиотеками (она весит сотни мегабайт)
node_modules

# Папка для временных файлов
uploads

# Наш секретный ключ от Google! НИКОГДА не публикуйте его!
credentials.json

# Лог-файлы npm
npm-debug.log*